body {
  background-color: powderblue;
}

h1 {
  color: blue;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

p {
  color: red;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
