/* Add some padding on document's body to prevent the content
   from going underneath the header and footer */
body{
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  text-align: left;
  background-color: #FFF8DC;
}


/* Header Properties */
.fixed-header{
  top: 0px;
  width: 94%;
  position: fixed;
  z-index: 1000;
  background-image: linear-gradient(#000000, #00000099);
  font-size: 24px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: flex-start;
  padding: 5px 3% 5px 3%;
  text-align: center;
  line-height: 100%;
}
/*navigation bar*/
.fixed-header nav {
  display: flex;
  opacity: 1;
  margin-left: auto;
  justify-content: flex-start;
}
.fixed-header nav a {
  filter: drop-shadow(0 0 0.75rem black);
  color: white;
  opacity: 1;
  padding: 0 0.5em;
  text-decoration: none;
  font-variant: small-caps;

}
.fixed-header nav a:hover {
  color: red;
  transition: 0.5s;
}



/*front matter is the big blocky image*/
#frontmatter {
  text-align: center;
  background-image: url("res/helmet.jpg");
  background-position: bottom 950px right 100%;
  height: 400px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
#frontmatter h1 {
  font-size: 60px;
  width: 800px;
  filter: drop-shadow(0 0 0.5rem black);
  margin: 0;
}
#frontmatter a {
  background-image: linear-gradient(to right, #14171A , #1DA1F2);
  text-decoration: none;
  color: white;
  margin-top: 5em;
  padding: 0.5em 1em;
  font-size: 20px;
}


a {
  text-decoration: underline;
  color: black;
}


#content {
  position: relative;
  width: 800px;
  font-size: 18px;
  margin: 0 auto;
  padding: 0em 1em;
  background-color: #FFF8DC;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1.5;
  text-align: justify;
}


.hgroup{
  display: grid;
  grid-auto-flow: column;
}

.hgroup img{
  width: 90%;
  padding: 0 5%;
  border-radius: 10%;
}

#content h1 {
  width: 100%;
  text-align: center;
  background-color: #696040;
  color: white;
}



.cardHolder {
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, 50%);
  grid-auto-flow: row;
}

.mediaCard {
  display: grid;
  grid-auto-flow: row;
  background-color: #DFD8CC;
}

.mediaCard > a {
  text-decoration: none;
}

.mediaCard > * > img {
  inline-size: 100%;
  height: 20rem;
  object-fit: cover;
}


.mediaCard > * > .title {
  font-size: 30px;
  padding: 0px;
  margin: 0px;
  color: white;
  text-align: center;
  font-weight: bolder;
  text-shadow: -1px 1px  2px #000,
                1px 1px  2px #000,
                1px -1px 2px #000,
               -1px -1px 2px #000;
}

.mediaCard > * > .subtitle {
  text-align: center;
}
